*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: auto auto;
  /* max-width:350vw; */
  /* text-align: center; */
  /* min-width: 5vw */
  display: grid;
  grid-template-columns: auto auto auto
}



/* .App-header {


  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.navbar{
  height: 20vh;
  background-color: #ddd;
  display: flex;
  justify-content: space-between
}

.navbar ul{
  list-style: none
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
